
# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [3]:
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

# Tarefa 1

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [103]:
sinasc_1 = sinasc_raw[['munResNome', 'IDADEMAE', 'IDADEPAI']]
sinasc_1.head()

                munResNome  IDADEMAE  IDADEPAI
0    Alta Floresta D'Oeste        19      26.0
1    Alta Floresta D'Oeste        29      24.0
2    Alta Floresta D'Oeste        37      32.0
3  Alto Alegre dos Parecis        30      24.0
4    Alta Floresta D'Oeste        30      27.0

In [104]:
sinasc_1.shape

(27028, 3)

In [105]:
sinasc_1.IDADEPAI.isna().sum()

19421

In [106]:
sinasc_1.IDADEMAE.isna().sum()

0

In [107]:
result = sinasc_1.dropna().groupby('munResNome').median()
result.head()

                         IDADEMAE  IDADEPAI
munResNome
Alta Floresta D'Oeste        25.0      28.5
Alto Alegre dos Parecis      25.0      28.0
Alto Paraíso                 22.5      25.5
Alvorada D'Oeste             26.0      31.0
Ariquemes                    28.0      29.0

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [108]:
sinasc_2 = sinasc_raw[['DTNASC', 'PESO','SEXO','ESCMAE']]
sinasc_2.head()

       DTNASC  PESO       SEXO           ESCMAE
0  2019-02-19  3685  Masculino      8 a 11 anos
1  2019-02-21  3055   Feminino      8 a 11 anos
2  2019-02-25  3460   Feminino      8 a 11 anos
3  2019-03-20  2982   Feminino  12 anos ou mais
4  2019-03-23  3310   Feminino      8 a 11 anos

In [109]:
sinasc_2[sinasc_2['DTNASC'] == '2019-03-23'].groupby(['ESCMAE','SEXO'])['PESO'].mean()

ESCMAE           SEXO
1 a 3 anos       Feminino     2960.000000
                 Masculino    3456.666667
12 anos ou mais  Feminino     3078.333333
                 Masculino    3331.666667
4 a 7 anos       Feminino     3598.750000
                 Masculino    3135.000000
8 a 11 anos      Feminino     3241.428571
                 Masculino    3382.352941
Name: PESO, dtype: float64

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [110]:
result2 = sinasc_raw.groupby('munResNome')['DTNASC'].count().sort_values() 
result2.head()

munResNome
Município ignorado - RO     1
Castanheiras               32
Pimenteiras do Oeste       40
Primavera de Rondônia      43
Parecis                    44
Name: DTNASC, dtype: int64

In [111]:
result2 = sinasc_raw[sinasc_raw['munResNome'] == 'Castanheiras'].groupby(['munResNome'])

In [112]:
result2.agg({'IDADEMAE':['min','max','mean'], 'IDADEPAI':['min','max','mean']})

             IDADEMAE               IDADEPAI
                  min max      mean      min   max       mean
munResNome
Castanheiras       17  39  27.28125     17.0  43.0  30.392857

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados. Algo que você julgue relevante e novo pra você.

Exemplo:
- Ah, descobri que a idade mediana das mulheres que deram a luz no ano de 2019 dos municipios x é maior que y.

In [5]:
#Alterando o tipo da coluna para data
sinasc_raw['DTNASC'] = pd.to_datetime(sinasc_raw['DTNASC'])

In [6]:
#Filtrando somente os nascidos em março
nasc_marco = sinasc_raw[sinasc_raw['DTNASC'].dt.month == 3]
nasc_marco.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
5,1,2516500.0,110001,1,33,5.0,1 a 3 anos,621005.0,2.0,1.0,...,5,6,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
9,1,2679477.0,110001,1,30,2.0,1 a 3 anos,999992.0,1.0,1.0,...,5,10,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
10,1,2679477.0,110001,1,31,5.0,8 a 11 anos,512105.0,1.0,0.0,...,5,11,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [7]:
nasc_marco.groupby('munResNome')['DTNASC'].count().sort_values(ascending=False).head(5)

munResNome
Porto Velho    744
Ji-Paraná      188
Vilhena        148
Ariquemes      141
Cacoal         133
Name: DTNASC, dtype: int64

In [8]:
#ou...
nasc_marco['munResNome'].value_counts().idxmax()

'Porto Velho'

In [9]:
nasc_marco['munResNome'].value_counts().max()

744

In [116]:
result3 = sinasc_raw[sinasc_raw['munResNome'] == 'Porto Velho'].groupby(['munResNome'])

In [117]:
result3.agg({'QTDFILVIVO':['min','max','mean'], 'QTDFILMORT':['min','max','mean']})

            QTDFILVIVO                 QTDFILMORT
                   min   max      mean        min  max     mean
munResNome
Porto Velho        0.0  12.0  1.167236        0.0  9.0  0.30977

In [118]:
result3.agg({'IDADEMAE':['min','max','mean'], 'IDADEPAI':['min','max','mean']})

            IDADEMAE               IDADEPAI
                 min max      mean      min   max       mean
munResNome
Porto Velho       12  47  26.31267     16.0  65.0  32.352679

In [4]:
sinasc_raw.columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC', 'HORANASC',
       'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU', 'ESCMAE2010',
       'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT', 'QTDPARTNOR',
       'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC', 'TPMETESTIM',
       'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART', 'STCESPARTO',
       'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1',
       'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON', 'PARIDADE',
       'KOTELCHUCK', 'CONTADOR', 'munResStatus', 'munResTipo', 'munResNome',
       'munResUf', 'munResLat', 'munResLon', 'munResAlt', 'munResArea'],
      dtype='object')